<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="2">
    <title>eIDLink</title>
    <pkg-ref id="be.bosa.eidlink"/>
    <options customize="never" require-scripts="false"/>
    <license file="LICENSE.txt"/>
    <readme file="README.html"/>
    <domains enable_anywhere="false" enable_currentUserHome="true" enable_localSystem="false"/>
    <volume-check>
        <allowed-os-versions>
            <os-version min="10.10"/>
        </allowed-os-versions>
    </volume-check>
    <choices-outline>
        <line choice="default">
            <line choice="be.bosa.eidlink"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="be.bosa.eidlink" visible="false">
        <pkg-ref id="be.bosa.eidlink"/>
    </choice>
    <pkg-ref id="be.bosa.eidlink" version="1.0.0" onConclusion="none">eIDLinkComponent.pkg</pkg-ref>
</installer-gui-script>