<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "eIDLink Admin" ?>
<?define Description = "eIDLink Native Application" ?>
<?define Manufacturer = "BOSA" ?>
<?define Version = "$(var.VERSION)" ?>
<?define UpgradeCode = "{ddda0aaa-708b-4390-95c2-1e560314f26b}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Codepage="1251" Language="1033">

    <!--Setup or Installer with properties-->
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Description="$(var.Name)" />
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <Icon Id="Logo.ico" SourceFile="install\eidlink.ico" />
    <Property Id="ARPPRODUCTICON" Value="Logo.ico" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <MajorUpgrade
         AllowSameVersionUpgrades="no"
         DowngradeErrorMessage="A newer version of [ProductName] is already installed.  If you are sure you want to downgrade, remove the existing installation via the Control Panel" />
    <UIRef Id="WixUI_Minimal" />
    <Property Id="MsiLogging" Value="voicewarmupx" />
    <Property Id='ARPNOREPAIR'>1</Property>

    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="eidlink">
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="eIDLink.exe" Guid="8A928767-2B74-4A5E-AE2A-0B8C80E282CD">
         <File Id="eidlinkapp" Name="eIDLink.exe" Source="VS_2019\Release\eIDLink.exe" />
         <!-- to remove chrome.json and firefox.json files that are generated by eidlink.exe after installation of eidLink -->
         <RemoveFile Id="eidlinkfiles" Name="*.*" On="both" />
         <RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
         <RemoveFolder Id='RemoveRootDirectory' Directory='ROOTDIRECTORY' On='uninstall' />        
      </Component>
      <Component Id="eidlinkA.dll" Guid="{90DD80BA-CA78-403D-8CD9-A09E40EAD14C}">
         <Class Id="{96F3D7AF-C671-36EA-A6C1-A62330A009BA}" Context="InprocServer32" Description="eIDLinkX.IObjectSafetyImpl" ThreadingModel="both" ForeignServer="mscoree.dll">
           <ProgId Id="eIDLinkX.IObjectSafetyImpl" Description="eIDLinkX.IObjectSafetyImpl" />
         </Class>
         <Class Id="{B08A638E-66C3-4586-823A-5B89A0301920}" Context="InprocServer32" Description="eIDLinkX.Link" ThreadingModel="both" ForeignServer="mscoree.dll">
           <ProgId Id="be.bosa.eidlink" Description="eIDLinkX.Link" />
         </Class>
         <File Id="eidlinkA.dll" KeyPath="yes" Source="..\ActiveX\eIDLinkX\Release\eidlinkA.dll" />
         <ProgId Id="Record" />
         <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\Domains\belgium.be" Name="https" Value="2" Type="integer" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32\0.0.4.0" Name="Class" Value="eIDLinkX.IObjectSafetyImpl" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32\0.0.4.0" Name="Assembly" Value="eIDLinkA, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32\0.0.4.0" Name="CodeBase" Value="file:///[#eidlinkA.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32" Name="Class" Value="eIDLinkX.IObjectSafetyImpl" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32" Name="Assembly" Value="eIDLinkA, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{96F3D7AF-C671-36EA-A6C1-A62330A009BA}\InprocServer32" Name="CodeBase" Value="file:///[#eidlinkA.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="Class" Value="eIDLinkX.Link" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="Assembly" Value="eIDLinkA, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="CodeBase" Value="file:///[#eidlinkA.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="Class" Value="eIDLinkX.Link" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="Assembly" Value="eIDLinkA, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="CodeBase" Value="file:///[#eidlinkA.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{5D540C3C-1294-3C5E-8B7A-368E6F17EBCC}\0.0.4.0" Name="Class" Value="eIDLinkX.ObjectSafetyOptions" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{5D540C3C-1294-3C5E-8B7A-368E6F17EBCC}\0.0.4.0" Name="Assembly" Value="eIDLinkA, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{5D540C3C-1294-3C5E-8B7A-368E6F17EBCC}\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{5D540C3C-1294-3C5E-8B7A-368E6F17EBCC}\0.0.4.0" Name="CodeBase" Value="file:///[#eidlinkA.dll]" Type="string" Action="write" />
      </Component>
     
      <Component Id="be.bosa.eidlink.json" Guid="2878E924-168F-4C3C-88B0-80A71C294E0C">
         <RegistryKey Root="HKLM" 
                     Key="Software\Google\Chrome\Extensions\pencgnkbgaekikmiahiaakjdgaibiipp"
                     ForceDeleteOnUninstall="yes" >
            <RegistryValue Type="string" Name="update_url" Value="https://clients2.google.com/service/update2/crx" />
         </RegistryKey>
         <RegistryKey Root="HKLM"
                     Key="Software\Google\Chrome\NativeMessagingHosts\be.bosa.eidlink"                  
                     ForceDeleteOnUninstall="yes" >
            <RegistryValue Type="string" Value="[INSTALLFOLDER]chrome.json" />
         </RegistryKey>
         <RegistryKey Root="HKLM"
                     Key="Software\Microsoft\Edge\NativeMessagingHosts\be.bosa.eidlink"
                     ForceDeleteOnUninstall="yes" >
            <RegistryValue Type="string" Value="[INSTALLFOLDER]chrome.json" />
         </RegistryKey>
         <RegistryKey Root="HKLM"
                  Key="Software\Mozilla\NativeMessagingHosts\be.bosa.eidlink"
                  ForceDeleteOnUninstall="yes">
            <RegistryValue Type="string" Value="[INSTALLFOLDER]firefox.json" />
         </RegistryKey>
      </Component>
    </ComponentGroup>

  <CustomAction Id="setup"
            FileKey="eidlinkapp"
            ExeCommand='-setup &quot;[INSTALLFOLDER]'
            Execute="deferred"
            Return="ignore"
            HideTarget="no"
            Impersonate="no" />
        
   <util:CloseApplication Id="CloseIE" CloseMessage="yes" PromptToContinue="yes" Description="Internet Explorer needs to be closed to complete installation" Target="iexplore.exe" ElevatedCloseMessage="no" RebootPrompt="no" /> 

   <InstallExecuteSequence>
         <Custom Action="WixCloseApplications" Before="InstallValidate" /> 
         <Custom Action="setup" Before="InstallFinalize">NOT Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
   </InstallExecuteSequence>
   
  </Product>
</Wix>
