<?xml version="1.0" encoding="utf-8"?>
<?define Name="BeIDConnect (X)"?>
<?define Description="BeIDConnect Native Application"?>
<?define Manufacturer="BOSA"?>
<?define Version="$(var.VERSION)"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
   <Product Name="BeIDConnectX" UpgradeCode="B08A0a1e-708b-4390-95c2-1e560314f26b"
         Id="*" Language="1033" Version="$(var.VERSION)" Codepage="1251" Manufacturer="BOSA">
      <Package Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perUser"/>
      <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
      <Icon Id="Icon.ico" SourceFile="BeIDConnectX\install\bosa.ico"/>
      <Property Id="ARPPRODUCTICON" Value="Icon.ico"/>
      <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage=
            "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
      <Condition Message="[ProductName] requires Windows 7 or higher.">
         <![CDATA[Installed OR (VersionNT >= 601)]]>
      </Condition>
      <UIRef Id="WixUI_Minimal" />

      <Property Id="MsiLogging" Value="voicewarmupx"/>
      <Property Id='ARPNOREPAIR'>1</Property>
    
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="LocalAppDataFolder">
            <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
               <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
               </Directory>
            </Directory>
         </Directory>
      </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="BeIDConnect.exe" Guid="7A928767-2B74-4A5E-AE2A-0B8C80E282CD">
         <File Id="beidconnectapp" Name="BeIDConnect.exe" Source="../win32/VS_2019/Release/BeIDConnect.exe" />
         <RegistryValue Root='HKCU' Key='Software\BOSA\beidconnect'
                     Name="BeIDConnect.exe" Value="1" Type="integer" KeyPath='yes' />
         <RemoveFile Id="beidconnectexe" Name="*.*" On="both" />
         <RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
         <RemoveFolder Id='RemoveRootDirectory' Directory='ROOTDIRECTORY' On='uninstall' />        
      </Component>
      <Component Id="beidconnect.dll" Guid="{D0DAB0A8-B7ED-4109-A098-F7CC6C9F0AD8}">
         <File Id="beidconnect.dll" Name="beidconnect.dll" Source="BeIDConnectX\Release\beidconnect.dll" />
         <RegistryValue Root='HKCU' Key='Software\BOSA\beidconnect' Name='beidconnect.dll' Value="1" Type="integer" KeyPath="yes" />
         <RemoveFile Id="beidconnectdll" Name="*.*" On="both" />

         <Class Id="{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}" Context="InprocServer32" Description="BeIDConnectX.IObjectSafetyImpl" ThreadingModel="both" ForeignServer="mscoree.dll">
            <ProgId Id="BeIDConnectX.IObjectSafetyImpl" Description="BeIDConnectX.IObjectSafetyImpl" />
         </Class>
         <Class Id="{B08A638E-66C3-4586-823A-5B89A0301920}" Context="InprocServer32" Description="BeIDConnectX.Link" ThreadingModel="both" ForeignServer="mscoree.dll">
            <ProgId Id="be.bosa.beidconnect" Description="BeIDConnectX.Link" />
         </Class>
         <ProgId Id="Record" />
         <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\Domains\belgium.be" Name="https" Value="2" Type="integer" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32\0.0.4.0" Name="Class" Value="BeIDConnectX.IObjectSafetyImpl" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32\0.0.4.0" Name="Assembly" Value="BeIDConnect, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32\0.0.4.0" Name="CodeBase" Value="file:///[#beidconnect.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32" Name="Class" Value="BeIDConnectX.IObjectSafetyImpl" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32" Name="Assembly" Value="BeIDConnect, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{82DBAA4A-87D8-375C-B0F3-F8EBEE3E5EA8}\InprocServer32" Name="CodeBase" Value="file:///[#beidconnect.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="Class" Value="BeIDConnectX.Link" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="Assembly" Value="BeIDConnect, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32\0.0.4.0" Name="CodeBase" Value="file:///[#beidconnect.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="Class" Value="BeIDConnectX.Link" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="Assembly" Value="BeIDConnect, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="CLSID\{B08A638E-66C3-4586-823A-5B89A0301920}\InprocServer32" Name="CodeBase" Value="file:///[#beidconnect.dll]" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{8BA0C5F5-1406-3600-A74C-29CA262A7504}\0.0.4.0" Name="Class" Value="BeIDConnectX.ObjectSafetyOptions" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{8BA0C5F5-1406-3600-A74C-29CA262A7504}\0.0.4.0" Name="Assembly" Value="BeIDConnect, Version=0.0.4.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{8BA0C5F5-1406-3600-A74C-29CA262A7504}\0.0.4.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
         <RegistryValue Root="HKCR" Key="Record\{8BA0C5F5-1406-3600-A74C-29CA262A7504}\0.0.4.0" Name="CodeBase" Value="file:///[#beidconnect.dll]" Type="string" Action="write" />
      </Component>
   </ComponentGroup>
   </Product>
</Wix>
